In [166]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [167]:
df = pd.read_csv('hotel_bookings.csv')

In [168]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [169]:
df.isnull().sum().sort_values(ascending=False).head()

company               112593
agent                  16340
country                  488
children                   4
reserved_room_type         0
dtype: int64

In [170]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [172]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [173]:
df.isnull().sum().sort_values(ascending=False).head()

company               112593
agent                  16340
country                  488
children                   4
reserved_room_type         0
dtype: int64

In [174]:
# Menghitung modus kolom 'agent'
mode_agent = df['agent'].mode()[0]  # Mengambil nilai modus pertama

# Mengisi nilai NaN dengan modus
df['agent'] = df['agent'].fillna(mode_agent)

In [175]:
df.isnull().sum().sort_values(ascending=False).head()

company               112593
country                  488
children                   4
agent                      0
reserved_room_type         0
dtype: int64

In [176]:
# Menghitung modus kolom 'country'
mode_country = df['country'].mode()[0]  # Mengambil nilai modus pertama

# Mengisi nilai NaN dengan modus
df['country'] = df['country'].fillna(mode_country)

In [177]:
df['children'] = df['children'].fillna(0)

In [178]:
df.isnull().sum().sort_values(ascending=False).head()

company                      112593
hotel                             0
is_canceled                       0
reservation_status                0
total_of_special_requests         0
dtype: int64

In [179]:
# Drop duplicate

print("Baris sebelum duplicate:", len(df))
df.drop_duplicates(inplace=True)
print("Rows setelah duplicate", len(df))
df.reset_index(drop=True, inplace=True)

Baris sebelum duplicate: 119390
Rows setelah duplicate 87376

In [180]:
# Terdapat 0 tamu

zero_guests_df = df.loc[df["adults"]
                   + df["children"]
                   + df["babies"] == 0].index

print(len(zero_guests_df))

166

In [181]:
# Drop 0 tamu

print("Baris sebelum drop 0 tamu:", len(df))
df.drop(df.index[zero_guests_df], axis=0, inplace=True)
print("Baris setelah drop 0 tamu:", len(df))
df.reset_index(drop=True, inplace=True)

Baris sebelum drop 0 tamu: 87376
Baris setelah drop 0 tamu: 87210

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87210 entries, 0 to 87209
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87210 non-null  object
 1   is_canceled                     87210 non-null  int64
 2   lead_time                       87210 non-null  int64
 3   arrival_date_year               87210 non-null  int64
 4   arrival_date_month              87210 non-null  object
 5   arrival_date_week_number        87210 non-null  int64
 6   arrival_date_day_of_month       87210 non-null  int64
 7   stays_in_weekend_nights         87210 non-null  int64
 8   stays_in_week_nights            87210 non-null  int64
 9   adults                          87210 non-null  int64
 10  children                        87210 non-null  float64
 11  babies                          87210 non-null  int64
 12  meal                            87210 non-null  object
 13  country                         87210 non-null  object
 14  market_segment                  87210 non-null  object
 15  distribution_channel            87210 non-null  object
 16  is_repeated_guest               87210 non-null  int64
 17  previous_cancellations          87210 non-null  int64
 18  previous_bookings_not_canceled  87210 non-null  int64
 19  reserved_room_type              87210 non-null  object
 20  assigned_room_type              87210 non-null  object
 21  booking_changes                 87210 non-null  int64
 22  deposit_type                    87210 non-null  object
 23  agent                           87210 non-null  float64
 24  company                         5233 non-null   float64
 25  days_in_waiting_list            87210 non-null  int64
 26  customer_type                   87210 non-null  object
 27  adr                             87210 non-null  float64
 28  required_car_parking_spaces     87210 non-null  int64
 29  total_of_special_requests       87210 non-null  int64
 30  reservation_status              87210 non-null  object
 31  reservation_status_date         87210 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 21.3+ MB

In [183]:
# Membuat countries yang banyak menjadi 10 saja dan sisanya others

n_countries = 10
most_freq_countries = df['country'].value_counts()[:n_countries].index
df['country'].value_counts()[:n_countries]

df['country'] = df['country'].apply(lambda x: x if x in most_freq_countries else 'Others')

In [184]:
# Membuat company yang banyak menjadi 10 saja dan sisanya others

n_agents = 10
most_freq_agent = df['agent'].value_counts()[:n_agents].index
df['agent'].value_counts()[:n_agents]

df['agent'] = df['agent'].apply(lambda x: x if x in most_freq_agent else 'Others')

C:\Users\Iskandar\AppData\Local\Temp\ipykernel_18736\2463387029.py:4: FutureWarning: The behavior of obj[i:j] with a float-dtype index is deprecated. In a future version, this will be treated as positional instead of label-based. For label-based slicing, use obj.loc[i:j] instead
  most_freq_agent = df['agent'].value_counts()[:n_agents].index
C:\Users\Iskandar\AppData\Local\Temp\ipykernel_18736\2463387029.py:5: FutureWarning: The behavior of obj[i:j] with a float-dtype index is deprecated. In a future version, this will be treated as positional instead of label-based. For label-based slicing, use obj.loc[i:j] instead
  df['agent'].value_counts()[:n_agents]

In [185]:
df['agent'].head()

0       9.0
1       9.0
2       9.0
3    Others
4     240.0
Name: agent, dtype: object

In [186]:
# Definisikan mapping bulan ke kuartal
month_to_quarter = {
    'January': 'Quarter_1',
    'February': 'Quarter_1',
    'March': 'Quarter_1',
    'April': 'Quarter_2',
    'May': 'Quarter_2',
    'June': 'Quarter_2',
    'July': 'Quarter_3',
    'August': 'Quarter_3',
    'September': 'Quarter_3',
    'October': 'Quarter_4',
    'November': 'Quarter_4',
    'December': 'Quarter_4'
}

# Buat kolom baru dengan mapping
df['arrival_date_quarter'] = df['arrival_date_month'].map(month_to_quarter)

In [187]:
# Buat kolom baru 'total_orang' dengan menjumlahkan 'adults', 'children', dan 'babies'
df['total_orang'] = df['adults'] + df['children'] + df['babies']

In [188]:
df = df.drop('company', axis=1)

In [189]:
# Fungsi untuk mengubah kategori menjadi numerik
def categorical_to_numeric(df):
    for column in df.select_dtypes(include=['object']).columns:
        # Mengambil kategori unik dari kolom
        unique_categories = df[column].unique()
        
        # Membuat dictionary mapping kategori ke angka
        category_map = {category: idx for idx, category in enumerate(unique_categories)}
        
        # Mengubah kolom berdasarkan mapping
        df[column] = df[column].map(category_map)
    
    return df

# Mengubah semua kolom kategorikal menjadi numerik
df = categorical_to_numeric(df)

# Menampilkan DataFrame setelah kategori diubah menjadi numerik
print("\nDataframe setelah kategorikal menjadi numerik:")

Dataframe setelah kategorikal menjadi numerik:

In [190]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date_quarter,total_orang
0,0,0,342,2015,0,27,1,0,0,2,...,0,0,0,0.0,0,0,0,0,0,2.0
1,0,0,737,2015,0,27,1,0,0,2,...,0,0,0,0.0,0,0,0,0,0,2.0
2,0,0,7,2015,0,27,1,0,1,1,...,0,0,0,75.0,0,0,0,1,0,1.0
3,0,0,13,2015,0,27,1,0,1,1,...,1,0,0,75.0,0,0,0,1,0,1.0
4,0,0,14,2015,0,27,1,0,2,2,...,2,0,0,98.0,0,1,0,2,0,2.0

In [191]:
# Hitung jumlah setiap nilai unik di kolom 'agent'
value_counts = df['agent'].value_counts()

# Hitung persentase setiap nilai
percentage = (value_counts / len(df)) * 100

# Gabungkan nilai dan persentase untuk dilihat bersama
result = pd.DataFrame({'agent': value_counts, 'Percentage (%)': percentage})

print(result)

       agent  Percentage (%)
agent
0      40848       46.838665
2      13027       14.937507
1       8598        9.858961
24      3342        3.832129
22      3294        3.777090
6       2779        3.186561
4       1644        1.885105
26      1493        1.711960
5       1383        1.585827
19      1228        1.408095
14      1116        1.279670
11       986        1.130604
17       844        0.967779
9        722        0.827887
28       614        0.704048
29       523        0.599702
8        477        0.546956
15       402        0.460956
23       394        0.451783
10       363        0.416237
25       344        0.394450
18       312        0.357757
3        302        0.346291
16       281        0.322211
13       277        0.317624
12       272        0.311891
30       257        0.294691
27       223        0.255705
21       220        0.252265
7        216        0.247678
31       215        0.246531
20       214        0.245385

In [192]:
# Outlier remover
def remove_outlier(data, col):
    # Determine IQR for column
    col_values = data[col].values
    q25, q75 = np.percentile(col_values, 25), np.percentile(col_values, 75)
    print('Quartile 25: {} | Quartile 75: {}'.format(q25, q75))
    iqr = q75 - q25
    print('IQR: {}'.format(iqr))
    print()

    # Determine the cut off (IQR * 1.5)
    cut_off = iqr * 1.5
    lower, upper = q25 - cut_off, q75 + cut_off
    print('Cut Off: {}'.format(cut_off))
    print('Lower bound: {}'.format(lower))
    print('Upper bound: {}'.format(upper))
    print()

    # Examine instances before removal
    print("Number of instances before removal: {}".format(len(data)))

    # Remove outliers
    data = data.drop(data[(data[col] > upper) | (data[col] < lower)].index)

    # Examine instances after removal
    print("Number of instances after removal: {}".format(len(data)))
    print()

    return data

In [200]:
df.corr()['is_canceled'].sort_values(ascending=False)

is_canceled                       1.000000
lead_time                         0.169193
distribution_channel              0.136111
total_orang                       0.108455
adults                            0.091459
stays_in_week_nights              0.089854
arrival_date_year                 0.087714
children                          0.070600
hotel                             0.066793
stays_in_weekend_nights           0.065271
meal                              0.052187
reserved_room_type                0.045326
previous_cancellations            0.041166
market_segment                    0.007664
arrival_date_day_of_month         0.006885
arrival_date_week_number          0.001040
arrival_date_quarter             -0.009536
arrival_date_month               -0.012185
babies                           -0.018808
days_in_waiting_list             -0.018832
country                          -0.048246
previous_bookings_not_canceled   -0.051341
booking_changes                  -0.086945
is_repeated_guest                -0.087931
total_of_special_requests        -0.110724
customer_type                    -0.120894
agent                            -0.135930
required_car_parking_spaces      -0.181538
deposit_type                           NaN
Name: is_canceled, dtype: float64

In [194]:
df = remove_outlier(df, 'reservation_status')

Quartile 25: 0.0 | Quartile 75: 1.0
IQR: 1.0

Cut Off: 1.5
Lower bound: -1.5
Upper bound: 2.5

Number of instances before removal: 87210
Number of instances after removal: 87210

In [195]:
df = remove_outlier(df, 'lead_time')

Quartile 25: 11.0 | Quartile 75: 125.0
IQR: 114.0

Cut Off: 171.0
Lower bound: -160.0
Upper bound: 296.0

Number of instances before removal: 87210
Number of instances after removal: 84816

In [196]:
df = remove_outlier(df, 'deposit_type')

Quartile 25: 0.0 | Quartile 75: 0.0
IQR: 0.0

Cut Off: 0.0
Lower bound: 0.0
Upper bound: 0.0

Number of instances before removal: 84816
Number of instances after removal: 83956

In [197]:
jumlah_baris = df.shape[0]
print(f"Jumlah baris: {jumlah_baris}")

Jumlah baris: 83956

In [ ]:
df = df.drop('reservation_status', axis=1)
df = df.drop('reservation_status_date', axis=1)
df = df.drop('adr', axis=1)
df = df.drop('assigned_room_type', axis=1)

# df = df.drop('required_car_parking_spaces', axis=1)
# df = df.drop('agent', axis=1)
# df = df.drop('customer_type', axis=1)

In [204]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Contoh DataFrame
np.random.seed(42)  # Untuk reproducibility

# Pisahkan fitur (X) dan target (y)
X = df.drop(columns=['is_canceled'])  # Semua kolom kecuali 'is_canceled'
y = df['is_canceled']  # Target

# Split data untuk training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Random Forest
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Prediksi
y_pred = model.predict(X_test)

# Evaluasi
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8452239161505479

Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.92      0.90     12380
           1       0.74      0.64      0.69      4412

    accuracy                           0.85     16792
   macro avg       0.81      0.78      0.79     16792
weighted avg       0.84      0.85      0.84     16792