In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv('hotel_bookings.csv')

In [25]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [26]:
df.isnull().sum().sort_values(ascending=False).head()

company               112593
agent                  16340
country                  488
children                   4
reserved_room_type         0
dtype: int64

In [27]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [29]:
# Ubah company null menjadi 0 dan sisanya menjadi 1
df['company'] = df['company'].apply(lambda x: 0 if pd.isnull(x) else 1)

print(df)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit    NaN       0
1                          0       2  ...    No Deposit    NaN       0
2                          1       1  ...    No Deposit    NaN       0
3                          1       1  ...    No Deposit  304.0       0
4                          2       2  ...    No Deposit  240.0       0
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0       0
119386                     5       3  ...    No Deposit    9.0       0
119387                     5       2  ...    No Deposit    9.0       0
119388                     5       2  ...    No Deposit   89.0       0
119389                     7       2  ...    No Deposit    9.0       0

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out              2015-07-01
1                Check-Out              2015-07-01
2                Check-Out              2015-07-02
3                Check-Out              2015-07-02
4                Check-Out              2015-07-03
...                    ...                     ...
119385           Check-Out              2017-09-06
119386           Check-Out              2017-09-07
119387           Check-Out              2017-09-07
119388           Check-Out              2017-09-07
119389           Check-Out              2017-09-07

[119390 rows x 32 columns]

In [30]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,0,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [31]:
df.isnull().sum().sort_values(ascending=False).head()

agent                 16340
country                 488
children                  4
hotel                     0
reserved_room_type        0
dtype: int64

In [32]:
# Drop duplicate

print("Baris sebelum duplicate:", len(df))
df.drop_duplicates(inplace=True)
print("Rows setelah duplicate", len(df))
df.reset_index(drop=True, inplace=True)

Baris sebelum duplicate: 119390
Rows setelah duplicate 87392

In [33]:
# Terdapat 0 tamu

zero_guests_df = df.loc[df["adults"]
                   + df["children"]
                   + df["babies"] == 0].index

print(len(zero_guests_df))

166

In [34]:
# Drop 0 tamu

print("Baris sebelum drop 0 tamu:", len(df))
df.drop(df.index[zero_guests_df], axis=0, inplace=True)
print("Baris setelah drop 0 tamu:", len(df))
df.reset_index(drop=True, inplace=True)

Baris sebelum drop 0 tamu: 87392
Baris setelah drop 0 tamu: 87226

In [38]:
# Ubah nilai null pada agent menjadi 0

df['agent'] = df['agent'].fillna(0)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87226 entries, 0 to 87225
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87226 non-null  object
 1   is_canceled                     87226 non-null  int64
 2   lead_time                       87226 non-null  int64
 3   arrival_date_year               87226 non-null  int64
 4   arrival_date_month              87226 non-null  object
 5   arrival_date_week_number        87226 non-null  int64
 6   arrival_date_day_of_month       87226 non-null  int64
 7   stays_in_weekend_nights         87226 non-null  int64
 8   stays_in_week_nights            87226 non-null  int64
 9   adults                          87226 non-null  int64
 10  children                        87222 non-null  float64
 11  babies                          87226 non-null  int64
 12  meal                            87226 non-null  object
 13  country                         86779 non-null  object
 14  market_segment                  87226 non-null  object
 15  distribution_channel            87226 non-null  object
 16  is_repeated_guest               87226 non-null  int64
 17  previous_cancellations          87226 non-null  int64
 18  previous_bookings_not_canceled  87226 non-null  int64
 19  reserved_room_type              87226 non-null  object
 20  assigned_room_type              87226 non-null  object
 21  booking_changes                 87226 non-null  int64
 22  deposit_type                    87226 non-null  object
 23  agent                           87226 non-null  float64
 24  company                         87226 non-null  int64
 25  days_in_waiting_list            87226 non-null  int64
 26  customer_type                   87226 non-null  object
 27  adr                             87226 non-null  float64
 28  required_car_parking_spaces     87226 non-null  int64
 29  total_of_special_requests       87226 non-null  int64
 30  reservation_status              87226 non-null  object
 31  reservation_status_date         87226 non-null  object
dtypes: float64(3), int64(17), object(12)
memory usage: 21.3+ MB

In [40]:
df.isnull().sum().sort_values(ascending=False).head()

country               447
children                4
hotel                   0
agent                   0
reserved_room_type      0
dtype: int64

In [43]:
# Drop null

df = df.dropna()

In [44]:
df.isnull().sum().sort_values(ascending=False).head()

hotel                          0
is_canceled                    0
reservation_status             0
total_of_special_requests      0
required_car_parking_spaces    0
dtype: int64

In [46]:
# Membuat countries yang banyak menjadi 10 saja dan sisanya others

n_countries = 10
most_freq_countries = df['country'].value_counts()[:n_countries].index
df['country'].value_counts()[:n_countries]

df['country'] = df['country'].apply(lambda x: x if x in most_freq_countries else 'Others')

In [47]:
# Membuat company yang banyak menjadi 10 saja dan sisanya others

n_agents = 10
most_freq_agent = df['agent'].value_counts()[:n_agents].index
df['agent'] = df['agent'].apply(lambda x: x if x in most_freq_agent else 'Others')

C:\Users\Iskandar\AppData\Local\Temp\ipykernel_35144\2808936689.py:4: FutureWarning: The behavior of obj[i:j] with a float-dtype index is deprecated. In a future version, this will be treated as positional instead of label-based. For label-based slicing, use obj.loc[i:j] instead
  most_freq_agent = df['agent'].value_counts()[:n_agents].index

In [49]:
df['agent'].head()

0       0.0
1       0.0
2       0.0
3    Others
4     240.0
Name: agent, dtype: object

In [56]:
# Fungsi untuk mengubah kategori menjadi numerik
def categorical_to_numeric(df):
    for column in df.select_dtypes(include=['object']).columns:
        # Mengambil kategori unik dari kolom
        unique_categories = df[column].unique()
        
        # Membuat dictionary mapping kategori ke angka
        category_map = {category: idx for idx, category in enumerate(unique_categories)}
        
        # Mengubah kolom berdasarkan mapping
        df[column] = df[column].map(category_map)
    
    return df

# Mengubah semua kolom kategorikal menjadi numerik
df = categorical_to_numeric(df)

# Menampilkan DataFrame setelah kategori diubah menjadi numerik
print("\nDataframe setelah kategorikal menjadi numerik:")
print(df)

Dataframe setelah kategorikal menjadi numerik:
       hotel  is_canceled  lead_time  arrival_date_year  arrival_date_month  \
0          0            0        342               2015                   0
1          0            0        737               2015                   0
2          0            0          7               2015                   0
3          0            0         13               2015                   0
4          0            0         14               2015                   0
...      ...          ...        ...                ...                 ...
87221      1            0         23               2017                   1
87222      1            0        102               2017                   1
87223      1            0         34               2017                   1
87224      1            0        109               2017                   1
87225      1            0        205               2017                   1

       arrival_date_week_number  arrival_date_day_of_month  \
0                            27                          1
1                            27                          1
2                            27                          1
3                            27                          1
4                            27                          1
...                         ...                        ...
87221                        35                         30
87222                        35                         31
87223                        35                         31
87224                        35                         31
87225                        35                         29

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
0                            0                     0       2  ...
1                            0                     0       2  ...
2                            0                     1       1  ...
3                            0                     1       1  ...
4                            0                     2       2  ...
...                        ...                   ...     ...  ...
87221                        2                     5       2  ...
87222                        2                     5       3  ...
87223                        2                     5       2  ...
87224                        2                     5       2  ...
87225                        2                     7       2  ...

       deposit_type  agent  company  days_in_waiting_list  customer_type  \
0                 0      0        0                     0              0
1                 0      0        0                     0              0
2                 0      0        0                     0              0
3                 0      1        0                     0              0
4                 0      2        0                     0              0
...             ...    ...      ...                   ...            ...
87221             0      1        0                     0              0
87222             0     13        0                     0              0
87223             0     13        0                     0              0
87224             0      1        0                     0              0
87225             0     13        0                     0              0

          adr  required_car_parking_spaces  total_of_special_requests  \
0        0.00                            0                          0
1        0.00                            0                          0
2       75.00                            0                          0
3       75.00                            0                          0
4       98.00                            0                          1
...       ...                          ...                        ...
87221   96.14                            0                          0
87222  225.43                            0                          2
87223  157.71                            0                          4
87224  104.40                            0                          0
87225  151.20                            0                          2

       reservation_status  reservation_status_date
0                       0                        0
1                       0                        0
2                       0                        1
3                       0                        1
4                       0                        2
...                   ...                      ...
87221                   0                      897
87222                   0                      908
87223                   0                      908
87224                   0                      908
87225                   0                      908

[86775 rows x 32 columns]

In [57]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,0,342,2015,0,27,1,0,0,2,...,0,0,0,0,0,0.0,0,0,0,0
1,0,0,737,2015,0,27,1,0,0,2,...,0,0,0,0,0,0.0,0,0,0,0
2,0,0,7,2015,0,27,1,0,1,1,...,0,0,0,0,0,75.0,0,0,0,1
3,0,0,13,2015,0,27,1,0,1,1,...,0,1,0,0,0,75.0,0,0,0,1
4,0,0,14,2015,0,27,1,0,2,2,...,0,2,0,0,0,98.0,0,1,0,2

In [58]:
# Split

# Tentukan proporsi data
test_size = 0.2
n_test = int(len(df) * test_size)  # Jumlah data untuk test set

# Acak indeks data
shuffled_indices = np.random.permutation(len(df))

# Bagi indeks menjadi train dan test
test_indices = shuffled_indices[:n_test]
train_indices = shuffled_indices[n_test:]

# Bagi data berdasarkan indeks
train_set = df.iloc[train_indices]
test_set = df.iloc[test_indices]

# Hasil
print("Train Set:")
print(train_set)
print("\nTest Set:")
print(test_set)

Train Set:
       hotel  is_canceled  lead_time  arrival_date_year  arrival_date_month  \
27172      0            0         16               2017                   6
82284      1            0         31               2017                  11
69575      1            0        276               2016                   2
66855      1            0         13               2016                   1
2780       0            1         12               2015                   4
...      ...          ...        ...                ...                 ...
57763      1            0          9               2016                   7
78917      1            0         36               2017                   9
10677      0            0          2               2015                   4
15354      0            0         24               2015                   5
38636      1            1         31               2016                   8

       arrival_date_week_number  arrival_date_day_of_month  \
27172                         4                         27
82284                        23                          4
69575                        39                         22
66855                        33                         11
2780                         47                         18
...                         ...                        ...
57763                         8                         14
78917                        15                          9
10677                        45                          5
15354                        53                         28
38636                        13                         23

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
27172                        1                     2       2  ...
82284                        2                     2       2  ...
69575                        0                     3       2  ...
66855                        0                     1       2  ...
2780                         2                     4       2  ...
...                        ...                   ...     ...  ...
57763                        2                     2       2  ...
78917                        2                     1       2  ...
10677                        0                     1       1  ...
15354                        0                     0       2  ...
38636                        0                     1       2  ...

       deposit_type  agent  company  days_in_waiting_list  customer_type  \
27172             0      2        0                     0              0
82284             0      5        0                     0              0
69575             0     15        0                   178              2
66855             0     13        0                     0              0
2780              0      1        0                     0              0
...             ...    ...      ...                   ...            ...
57763             0     27        0                     0              2
78917             0     13        0                     0              0
10677             0      0        1                     0              0
15354             0     16        0                     0              2
38636             0     13        0                     0              0

          adr  required_car_parking_spaces  total_of_special_requests  \
27172   68.00                            0                          1
82284  169.50                            0                          2
69575  116.33                            0                          0
66855  139.00                            0                          1
2780    73.00                            0                          0
...       ...                          ...                        ...
57763   87.00                            0                          1
78917  120.00                            0                          1
10677   46.00                            1                          2
15354    0.00                            0                          1
38636  126.90                            0                          0

       reservation_status  reservation_status_date
27172                   0                      654
82284                   0                      783
69575                   0                      525
66855                   0                      475
2780                    1                      204
...                   ...                      ...
57763                   0                      310
78917                   0                      720
10677                   0                      205
15354                   0                      253
38636                   1                      337

[69420 rows x 32 columns]

Test Set:
       hotel  is_canceled  lead_time  arrival_date_year  arrival_date_month  \
85593      1            0        229               2017                   1
5416       0            1        142               2016                   0
3158       0            1         19               2016                   6
66316      1            0          2               2016                   1
39735      1            1         88               2016                   9
...      ...          ...        ...                ...                 ...
35983      1            0         19               2015                   2
78368      1            0         58               2017                   8
23990      0            0        364               2016                   3
25878      0            0          0               2016                   5
80161      1            0         81               2017                  10

       arrival_date_week_number  arrival_date_day_of_month  \
85593                        31                          2
5416                         31                         30
3158                          2                          8
66316                        32                          2
39735                        18                         28
...                         ...                        ...
35983                        39                         20
78368                        13                         30
23990                        42                         12
25878                        51                         13
80161                        18                          1

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
85593                        0                     2       1  ...
5416                         2                     6       2  ...
3158                         1                     2       2  ...
66316                        0                     1       2  ...
39735                        1                     3       2  ...
...                        ...                   ...     ...  ...
35983                        1                     0       2  ...
78368                        0                     3       2  ...
23990                        1                     4       1  ...
25878                        0                     1       2  ...
80161                        1                     2       3  ...

       deposit_type  agent  company  days_in_waiting_list  customer_type  \
85593             0     13        0                     0              0
5416              0      6        0                     0              0
3158              0      2        0                     0              0
66316             0     13        0                     0              0
39735             0     13        0                     0              0
...             ...    ...      ...                   ...            ...
35983             0     25        1                     0              0
78368             0     13        0                     0              0
23990             0      0        1                     0              2
25878             0      0        0                     0              0
80161             0     13        0                     0              0

          adr  required_car_parking_spaces  total_of_special_requests  \
85593  123.30                            0                          1
5416   292.00                            0                          0
3158    52.80                            0                          0
66316  121.00                            0                          2
39735  180.63                            0                          0
...       ...                          ...                        ...
35983  124.00                            0                          0
78368  103.80                            0                          0
23990   64.80                            0                          0
25878   59.00                            0                          0
80161  230.00                            0                          0

       reservation_status  reservation_status_date
85593                   0                      833
5416                    1                      455
3158                    1                      267
66316                   0                      462
39735                   1                      293
...                   ...                      ...
35983                   0                      159
78368                   0                      701
23990                   0                      540
25878                   0                      598
80161                   0                      737

[17355 rows x 32 columns]

In [59]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69420 entries, 27172 to 38636
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           69420 non-null  int64
 1   is_canceled                     69420 non-null  int64
 2   lead_time                       69420 non-null  int64
 3   arrival_date_year               69420 non-null  int64
 4   arrival_date_month              69420 non-null  int64
 5   arrival_date_week_number        69420 non-null  int64
 6   arrival_date_day_of_month       69420 non-null  int64
 7   stays_in_weekend_nights         69420 non-null  int64
 8   stays_in_week_nights            69420 non-null  int64
 9   adults                          69420 non-null  int64
 10  children                        69420 non-null  float64
 11  babies                          69420 non-null  int64
 12  meal                            69420 non-null  int64
 13  country                         69420 non-null  int64
 14  market_segment                  69420 non-null  int64
 15  distribution_channel            69420 non-null  int64
 16  is_repeated_guest               69420 non-null  int64
 17  previous_cancellations          69420 non-null  int64
 18  previous_bookings_not_canceled  69420 non-null  int64
 19  reserved_room_type              69420 non-null  int64
 20  assigned_room_type              69420 non-null  int64
 21  booking_changes                 69420 non-null  int64
 22  deposit_type                    69420 non-null  int64
 23  agent                           69420 non-null  int64
 24  company                         69420 non-null  int64
 25  days_in_waiting_list            69420 non-null  int64
 26  customer_type                   69420 non-null  int64
 27  adr                             69420 non-null  float64
 28  required_car_parking_spaces     69420 non-null  int64
 29  total_of_special_requests       69420 non-null  int64
 30  reservation_status              69420 non-null  int64
 31  reservation_status_date         69420 non-null  int64
dtypes: float64(2), int64(30)
memory usage: 17.5 MB

In [60]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17355 entries, 85593 to 80161
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           17355 non-null  int64
 1   is_canceled                     17355 non-null  int64
 2   lead_time                       17355 non-null  int64
 3   arrival_date_year               17355 non-null  int64
 4   arrival_date_month              17355 non-null  int64
 5   arrival_date_week_number        17355 non-null  int64
 6   arrival_date_day_of_month       17355 non-null  int64
 7   stays_in_weekend_nights         17355 non-null  int64
 8   stays_in_week_nights            17355 non-null  int64
 9   adults                          17355 non-null  int64
 10  children                        17355 non-null  float64
 11  babies                          17355 non-null  int64
 12  meal                            17355 non-null  int64
 13  country                         17355 non-null  int64
 14  market_segment                  17355 non-null  int64
 15  distribution_channel            17355 non-null  int64
 16  is_repeated_guest               17355 non-null  int64
 17  previous_cancellations          17355 non-null  int64
 18  previous_bookings_not_canceled  17355 non-null  int64
 19  reserved_room_type              17355 non-null  int64
 20  assigned_room_type              17355 non-null  int64
 21  booking_changes                 17355 non-null  int64
 22  deposit_type                    17355 non-null  int64
 23  agent                           17355 non-null  int64
 24  company                         17355 non-null  int64
 25  days_in_waiting_list            17355 non-null  int64
 26  customer_type                   17355 non-null  int64
 27  adr                             17355 non-null  float64
 28  required_car_parking_spaces     17355 non-null  int64
 29  total_of_special_requests       17355 non-null  int64
 30  reservation_status              17355 non-null  int64
 31  reservation_status_date         17355 non-null  int64
dtypes: float64(2), int64(30)
memory usage: 4.4 MB

In [61]:
# Coba logistic

# Sigmoid function
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

# Loss function (Binary Cross-Entropy)
def loss(y, y_pred):
    return -np.mean(y * np.log(y_pred + 1e-15) + (1 - y) * np.log(1 - y_pred + 1e-15))

# Training function
def train_logistic_regression(X, y, lr=0.01, epochs=1000):
    m, n = X.shape
    weights = np.zeros(n)  # Initialize weights
    bias = 0

    for epoch in range(epochs):
        # Linear combination
        z = np.dot(X, weights) + bias
        y_pred = sigmoid(z)

        # Gradient calculation
        dw = (1 / m) * np.dot(X.T, (y_pred - y))
        db = (1 / m) * np.sum(y_pred - y)

        # Update parameters
        weights -= lr * dw
        bias -= lr * db

        # Calculate loss
        if epoch % 100 == 0:
            print(f"Epoch {epoch}, Loss: {loss(y, y_pred)}")

    return weights, bias

# Predict function
def predict(X, weights, bias):
    z = np.dot(X, weights) + bias
    y_pred = sigmoid(z)
    return (y_pred > 0.5).astype(int)  # Convert probabilities to binary outcomes

# Preparing data for training
X_train = train_set.drop(columns=['is_canceled']).values
y_train = train_set['is_canceled'].values

# Training the model
weights, bias = train_logistic_regression(X_train, y_train, lr=0.1, epochs=1000)

# Testing the model
X_test = test_set.drop(columns=['is_canceled']).values
y_test = test_set['is_canceled'].values
y_pred = predict(X_test, weights, bias)

# Evaluating the model
accuracy = np.mean(y_pred == y_test)
print("\nWeights:", weights)
print("Bias:", bias)
print("Test Accuracy:", accuracy)

Epoch 0, Loss: 0.6931471805599435

C:\Users\Iskandar\AppData\Local\Temp\ipykernel_35144\1973658679.py:5: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-z))

Epoch 100, Loss: 9.529756886605002
Epoch 200, Loss: 25.00901950830568
Epoch 300, Loss: 25.00901950830568
Epoch 400, Loss: 9.529259353093119
Epoch 500, Loss: 12.873290972207405
Epoch 600, Loss: 9.529259353093119
Epoch 700, Loss: 25.00901950830568
Epoch 800, Loss: 9.529259353093119
Epoch 900, Loss: 9.529259353093119

Weights: [ 1.78437849e+00  1.72596498e+02 -2.49278506e+01  4.66059649e+00
 -1.59432669e+01  1.46349007e+00  1.03577958e+00  3.04076830e+00
  1.31109792e+00  8.20419566e-01 -1.17535867e-01  2.07540983e+00
 -8.87342388e+00  3.17461640e-01  3.87387772e+00 -5.63772832e-01
  8.37166004e-01 -2.86069665e+00  8.41524653e-01 -3.56913182e+00
 -3.40524755e+00  1.34230920e+00  4.76156833e+00 -7.60500599e-01
 -6.75577633e+00 -4.61463654e+00  1.86570664e+02 -2.22532095e+00
 -4.76435287e+00  2.01182878e+01 -3.72632118e+01]
Bias: -0.013947272469252177
Test Accuracy: 0.725612215499856

C:\Users\Iskandar\AppData\Local\Temp\ipykernel_35144\1973658679.py:5: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-z))

In [62]:
# Coba decision tree

class DecisionTreeClassifier:
    def __init__(self, max_depth=None, min_samples_split=2):
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.tree = None

    def gini_index(self, groups, classes):
        # Total samples
        n_samples = sum(len(group) for group in groups)
        gini = 0.0
        for group in groups:
            size = len(group)
            if size == 0:
                continue
            score = 0.0
            for class_val in classes:
                p = np.sum(group[:, -1] == class_val) / size
                score += p ** 2
            gini += (1 - score) * (size / n_samples)
        return gini

    def split(self, index, value, dataset):
        left = dataset[dataset[:, index] <= value]
        right = dataset[dataset[:, index] > value]
        return left, right

    def get_best_split(self, dataset):
        classes = np.unique(dataset[:, -1])
        best_index, best_value, best_score, best_groups = None, None, float('inf'), None
        for index in range(dataset.shape[1] - 1):  # Exclude the label column
            for value in np.unique(dataset[:, index]):
                groups = self.split(index, value, dataset)
                gini = self.gini_index(groups, classes)
                if gini < best_score:
                    best_index, best_value, best_score, best_groups = index, value, gini, groups
        return {'index': best_index, 'value': best_value, 'groups': best_groups}

    def to_terminal(self, group):
        outcomes = group[:, -1]
        return np.bincount(outcomes.astype(int)).argmax()

    def split_node(self, node, depth):
        left, right = node['groups']
        del node['groups']

        # Stop if no split
        if not left.any() or not right.any():
            node['left'] = node['right'] = self.to_terminal(np.vstack((left, right)))
            return

        # Check depth
        if self.max_depth and depth >= self.max_depth:
            node['left'], node['right'] = self.to_terminal(left), self.to_terminal(right)
            return

        # Process left child
        if len(left) <= self.min_samples_split:
            node['left'] = self.to_terminal(left)
        else:
            node['left'] = self.get_best_split(left)
            self.split_node(node['left'], depth + 1)

        # Process right child
        if len(right) <= self.min_samples_split:
            node['right'] = self.to_terminal(right)
        else:
            node['right'] = self.get_best_split(right)
            self.split_node(node['right'], depth + 1)

    def fit(self, X, y):
        dataset = np.hstack((X, y.reshape(-1, 1)))
        self.tree = self.get_best_split(dataset)
        self.split_node(self.tree, 1)

    def predict_row(self, node, row):
        if row[node['index']] <= node['value']:
            if isinstance(node['left'], dict):
                return self.predict_row(node['left'], row)
            else:
                return node['left']
        else:
            if isinstance(node['right'], dict):
                return self.predict_row(node['right'], row)
            else:
                return node['right']

    def predict(self, X):
        return np.array([self.predict_row(self.tree, row) for row in X])

# Preparing the data
X_train = train_set.drop(columns=['is_canceled']).values
y_train = train_set['is_canceled'].values

X_test = test_set.drop(columns=['is_canceled']).values
y_test = test_set['is_canceled'].values

# Training the Decision Tree
tree = DecisionTreeClassifier(max_depth=3, min_samples_split=5)
tree.fit(X_train, y_train)

# Testing the Decision Tree
y_pred = tree.predict(X_test)

# Evaluating accuracy
accuracy = np.mean(y_pred == y_test)
print("Test Accuracy:", accuracy)

Test Accuracy: 1.0